@import "../styles/mixins";
@import "../styles/colors";

.EmptyScholars {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .EmptyScholars__emoji {
    margin-top: rem(10);
    width: rem(6);
    height: rem(6);
    margin-bottom: rem(2);
  }

  .EmptyScholars__nothing {
    font-weight: 800;
    font-size: rem(3.2);
    line-height: rem(3.9);
    color: $white;
    margin-bottom: rem(2);
  }

  .EmptyScholars__description {
    font-size: rem(1.4);
    color: #4F4F4F;

    @include mobile {
      font-size: rem(2);
    }
  }

    .EmptyScholars__description__add {
      color: #5892E9;
    }
