@import "../styles/mixins";
@import "../styles/colors";

.ScholarList {
  display: flex;
  flex-direction: column;
}

  .ScholarList__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(10);
  }
