@import "../styles/mixins";
@import "../styles/colors";

.ScholarTableHeader {
  display: flex;
  flex-direction: column;
}

  .ScholarTableHeader__upper {
    width: rem(55.8);
    border-bottom: rem(.1) solid #E0E0E0;
    padding-bottom: rem(1);
    align-self: center;

    @include mobile {
      width: 100%;
    }
  }

  .ScholarTableHeader__downer {
    height: rem(4);
    border-bottom: rem(.1) solid #828282;
    display: flex;
    text-align: left;
    align-items: center;

    &--id {
      margin-left: rem(2);
      flex: 1;
    }

    &--name {
      margin-left: rem(5);
      flex: 1;

      @include mobile {
        margin-left: rem(2);
      }
    }

    &--average {
      margin-left: rem(6);
      flex: 1.3;
      cursor: pointer;
      display: flex;
      align-items: center;

      .ScholarTableHeader__downer--average__icon {
        color: $green;

        &--upward {
          color: $primary;
          transform: rotate(180deg);
        }
      }

      @include mobile {
        margin-left: rem(3);
      }
    }

    &--unclaimed {
      margin-left: rem(3);
      flex: 1.3;
      cursor: pointer;
      display: flex;
      align-items: center;

      .ScholarTableHeader__downer--unclaimed__icon {
        color: $green;

        &--upward {
          color: $primary;
          transform: rotate(180deg);
        }
      }
    }

    &--claimed {
      margin-left: rem(5);
      flex: 1.3;
      cursor: pointer;
      display: flex;
      align-items: center;

      .ScholarTableHeader__downer--claimed__icon {
        color: $green;

        &--upward {
          color: $primary;
          transform: rotate(180deg);
        }
      }
    }

    &--total {
      margin-left: rem(3);
      flex: 1.3;
      cursor: pointer;
      display: flex;
      align-items: center;

      .ScholarTableHeader__downer--total__icon {
        color: $green;

        &--upward {
          color: $primary;
          transform: rotate(180deg);
        }
      }

      @include mobile {
        margin-left: rem(4);
      }
    }

    &--days {
      margin-left: rem(2);
      flex: 1;
      cursor: pointer;
      display: flex;
      align-items: center;

      .ScholarTableHeader__downer--days__icon {
        color: $green;

        &--upward {
          color: $primary;
          transform: rotate(180deg);
        }
      }

      @include mobile {
        margin-left: rem(3);
      }
    }

    &--action {
      margin-left: rem(2);
      flex: 1;
    }
  }
