@import "../styles/mixins";
@import "../styles/colors";

.Home {
  margin-top: rem(2);
}

.Home__account {
  height: rem(4);
  position: relative;
}

  .Home__account__logout {
    color: $blue;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }

.Home__title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

  .Home__title__dropdown {
    margin-right: rem(3);
    position: absolute;
  }

  .Home__title__h1 {
    flex: 1;
    align-self: center;
  }

  .Home__title__button {
    position: absolute;
    right: 0;
    background-color: #86FBDF;
    border: none;
    height: rem(4);
    border-radius: rem(.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    cursor: pointer;
    width: rem(10);
  }
