@import "../styles/mixins";
@import "../styles/colors";

.EditScholar {
  display: flex;
  flex-direction: column;
  margin-left: rem(4);
  width: rem(73);
  background-color: transparent;
}

  .EditScholar__first {
    display: flex;
    margin-bottom: rem(1);
    justify-content: flex-end;
    align-items: center;
    position: relative;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1) !important;
    background-color: #FFFFFF;
    border-radius: rem(.6);
  }

    .EditScholar__first__group {
      margin-right: rem(1);
      position: absolute;
      left: 0;
    }

    .EditScholar__first__border {
      height: rem(3);
      border: .1px solid #C4C4C4;
    }

      .EditScholar__first__group__button {
        border: none !important;
        height: rem(6) !important;
        border-radius: rem(.6) !important;
      }

    .EditScholar__first__name {
      width: 75%;
      height: rem(6);
      border: none;
      border-radius: rem(.6);
      text-indent: rem(2);

      &::placeholder {
        color: #BDBDBD;
      }

      &:focus {
        outline: none;
      }
    }

  .EditScholar__second {
    height: rem(6);
    margin-bottom: rem(1);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1) !important;
    border: none;
    border-radius: rem(.6);
    text-indent: rem(2);

    &::placeholder {
      color: #BDBDBD;
    }

    &:focus {
      outline: none;
    }
  }

  .EditScholar__sharing {
    height: rem(6);
    display: flex;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1) !important;
    border: none;
    border-radius: rem(.6);
    overflow: hidden;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin-bottom: rem(1);
  }

    .EditScholar__sharing__scholar {
      flex: 1;
      display: flex;
      border-right: 1px solid #C4C4C4;
      align-items: center;
      color: #828282;
      padding-left: rem(2);
    }

      .EditScholar__sharing__scholar__label {
        margin-right: rem(2);
      }

      .EditScholar__sharing__scholar__input {
        height: rem(6);
        border: none;
        text-indent: rem(2);

        &:focus {
          outline: none;
        }
      }

    .EditScholar__sharing__manager {
      display: flex;
      flex: 1;
      align-items: center;
      border-left: 1px solid #C4C4C4;
      color: #828282;
      padding-left: rem(2);
    }

      .EditScholar__sharing__manager__label {
        margin-right: rem(2);
      }

      .EditScholar__sharing__manager__input {
        height: rem(6);
        border: none;
        text-indent: rem(2);
        background-color: #FFFFFF;

        &:focus {
          outline: none;
        }
      }

  .EditScholar__button {
    background-color: #5892E9;
    border: none;
    border-radius: rem(.25);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    height: rem(5);
    width: rem(12);
    cursor: pointer;
    align-self: center;
    color: #FFFFFF;
    transition: opacity 150ms;
    opacity: 1;

    &:hover {
      opacity: .8;
    }
  }
