@import "../styles/mixins";
@import "../styles/colors";

.GroupInfo {
  display: flex;
  height: rem(4);
  border-radius: rem(1);

  &--even {
    background-color: #f2f2f2;
  }
}

  .GroupInfo__id {
    flex: .5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .GroupInfo__name {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .GroupInfo__total {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .GroupInfo__action {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $blue;
  }

  .GroupInfo__action__icon {
    width: rem(2.8);
    height: rem(2.8);
    background-color: #E0E0E0;
    border-radius: rem(.8);
    transition: background-color 150ms;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #F33D48;
    }
  }

    .GroupInfo__action__icon__x {
      width: rem(1.2);
      height: rem(1.2);
    }

