@import "../styles/mixins";
@import "../styles/colors";

.GroupTableHeader {
  display: flex;
  height: rem(4);
  font-weight: bold;
  border-bottom: rem(.1) solid #828282;
}

  .GroupTableHeader__id {
    flex: .5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .GroupTableHeader__name {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .GroupTableHeader__totalScholars {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .GroupTableHeader__delete {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
