@import "../styles/mixins";
@import "../styles/colors";

.GroupTableHeader {
  display: flex;
  height: rem(5);
  background-color: $blue;
  font-weight: bold;
}

  .GroupTableHeader__id {
    flex: .5;
    height: 100%;
    border-right: rem(.1) solid $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .GroupTableHeader__name {
    flex: 1;
    height: 100%;
    border-right: rem(.1) solid $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .GroupTableHeader__totalScholars {
    flex: 1;
    height: 100%;
    border-right: rem(.1) solid $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .GroupTableHeader__delete {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
