@import "../styles/mixins";
@import "../styles/colors";

.ScholarInput {
  display: flex;
  flex-direction: column;
  margin-left: rem(4);
  width: rem(73);
}

  .ScholarInput__first {
    display: flex;
    margin-bottom: rem(1);
    justify-content: flex-end;
    position: relative;
  }

    .ScholarInput__first__group {
      margin-right: rem(1);
      position: absolute;
      left: 0;
    }

    .ScholarInput__first__name {
      width: 75%;
      height: rem(4);
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
      border: 1px solid $gray-400;
      border-radius: rem(.4);
      text-indent: rem(2);
    }

  .ScholarInput__second {
    height: rem(4);
    margin-bottom: rem(1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border: 1px solid $gray-400;
    border-radius: rem(.4);
    text-indent: rem(2);
  }

  .ScholarInput__button {
    background-color: $kakao;
    border: none;
    border-radius: rem(.25);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    height: rem(4);
    cursor: pointer;
  }
