@import "../styles/mixins";
@import "../styles/colors";

.ScholarInfo {
  @include padding-horizontal(rem(1));
  height: rem(4);
  display: flex;
  border-radius: rem(1);
  align-items: center;
  justify-content: space-between;

  &--even {
    background-color: #f2f2f2;
  }
}

.ScholarInfo__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(5.7);
}

.ScholarInfo__id {
  height: 100%;
  width: rem(4);
  display: flex;
  align-items: center;

  @include mobile {
  }
}

.ScholarInfo__name {
  width: rem(10);
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-break: anywhere;
  padding-right: rem(1);

  @include mobile {
  }
}

.ScholarInfo__average {
  height: 100%;
  display: flex;
  align-items: center;
  width: rem(8);

  @include mobile {
  }
}

.ScholarInfo__unclaimed {
  height: 100%;
  // min-width: rem(14.5);
  display: flex;
  align-items: center;
  width: rem(12);
}

// .ScholarInfo__claimed {
//   height: 100%;
//   display: flex;
//   align-items: center;
// }

.ScholarInfo__total {
  height: 100%;
  display: flex;
  align-items: center;
  width: rem(10);

  @include mobile {
  }
}

.ScholarInfo__days {
  height: 100%;
  display: flex;
  align-items: center;
  width: rem(8);

  @include mobile {
  }
}

.ScholarInfo__mmr {
  height: 100%;
  display: flex;
  align-items: center;
  width: rem(8);

  @include mobile {
  }
}

.ScholarInfo__rank {
  height: 100%;
  display: flex;
  align-items: center;
  width: rem(7);

  @include mobile {
  }
}

.ScholarInfo__sharing {
  height: 100%;
  display: flex;
  align-items: center;
  width: rem(10);

  @include mobile {
  }
}

.ScholarInfo__action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: rem(6);
}

  .ScholarInfo__action__icon {
    width: rem(2.8);
    height: rem(2.8);
    background-color: #E0E0E0;
    border-radius: rem(.8);
    transition: background-color 150ms;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &.edit {
      &:hover {
        background-color: #7BD74F;
      }
    }

    &.delete {
      margin-left: rem(.2);
      &:hover {
        background-color: #F33D48;
      }
    }
  }

    .ScholarInfo__action__icon__x {
      width: rem(1.2);
      height: rem(1.2);
    }
