@import "../styles/mixins";
@import "../styles/colors";

.Statistic {
  display: flex;
  justify-content: space-evenly;

  @include mobile {
    flex-direction: column;
  }
}

  .Statistic__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(10);
  }

  .Statistic__info {
    width: rem(34.8);
    height: rem(17.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: rem(1);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;

    @include mobile {
      width: 100%;
      height: rem(13.6);
      margin-bottom: rem(1.6);
    }
  }

  .Statistic__info__title {
    margin-top: rem(4);
    margin-bottom: rem(3.5);
    font-size: rem(1.8);
    display: flex;
    align-items: center;

    @include mobile {
      margin-top: rem(2.5);
      margin-bottom: rem(2.4);
    }
  }

    .Statistic__info__title__detail {
      display: flex;
      align-items: center;
    }

      .Statistic__info__title__detail__scholar {
        margin-right: rem(1);
        width: rem(4);
        height: rem(4);
        font-size: rem(1.4);
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: rem(1);
      }

      .Statistic__info__title__detail__number {
        font-size: rem(2.4);
      }

    .Statistic__info__title__icon {
      margin-right: rem(1);
      width: rem(2.4);
      height: rem(2.4);
    }
